.display-1
{
    font-weight:900;
    color: blue;;
}
.navbar{
    font-style: italic; 
}
h2{
        background: rgba(0, 0, 0, 0.2);
        width:auto;
        background-color:rgba(0,0,0,.5);
        text-align: center;
        
}
h1{
    text-align: center;
}
p{ text-align: center;
}
.product{width: 350px;
    border-style: double;}

    .footer{
        background-color: #022a68 !important;
        width:100%;
      padding-bottom:10px;
     
       }
  
  .hh2{
      margin-top:100px;
      font-family: 'Pacifico', cursive;
      color:white;
      
  }
  .pp{
      color:white;
  }
  .custom-border-img
{
    border-right: 10px solid purple;
}
.customize-jumb
{
    background-color: snow;
}

.customize-crew
{
    background-color: snow;
}

  html {scroll-behavior: smooth;}

h4{
    text-align: center;
}